<%- include('boilerplates/header') %>
<%- include('boilerplates/banner') %>
<!-- <h1>Hello, welcome to the home page!!!!</h1> -->
<%- include('boilerplates/products') %>

<%- include('boilerplates/footer') %>
