<!-- Banner section -->
<div class="app__banner">
    <div class="grid wide">
        <div class="row sm-gutter app__banner-content">
            <div class="col l-8 m-12 c-12">
                <div class="full-home-banners__main">
                    <div class="full-home-banners__main-inner">
                        <a href
                            class="full-home-banners__main-item active">
                            <img
                                src="https://cf.shopee.vn/file/sg-11134258-7ravc-maxvc548761c59_xxhdpi"
                                alt>
                        </a>
                        <a href
                            class="full-home-banners__main-item">
                            <img
                                src="https://cf.shopee.vn/file/vn-11134258-7ras8-maxk1pyuvnwhb3_xxhdpi"
                                alt>
                        </a>
                        <a href
                            class="full-home-banners__main-item">
                            <img
                                src="https://cf.shopee.vn/file/sg-11134258-7rasx-maxvhb0nx7c380_xxhdpi"
                                alt>
                        </a>
                        <a href
                            class="full-home-banners__main-item">
                            <img
                                src="https://cf.shopee.vn/file/sg-11134258-7rasu-maxuzbxkup6r4b_xxhdpi"
                                alt>
                        </a>
                    </div>
                    <div class="full-home-banners__main-controls">
                        <i
                            class="carosel-btn-left fa-solid fa-angle-left"></i>
                        <i
                            class="carosel-btn-right fa-solid fa-angle-right"></i>
                    </div>
                    <div class="full-home-banners__main-indicators">
                        <div
                            class="full-home-bannders__main-dot active"></div>
                        <div
                            class="full-home-bannders__main-dot"></div>
                        <div
                            class="full-home-bannders__main-dot"></div>
                        <div
                            class="full-home-bannders__main-dot"></div>
                    </div>
                </div>
            </div>
            <div class="col l-4 m-12">
                <div class="row sm-gutter-tablet">
                    <a href="#"
                        class="col l-12 m-6 full-home-banners__right-link">
                        <div class="full-home-banners__right-img"
                            style="background-image: url('https://cf.shopee.vn/file/sg-11134258-7ratq-maxvnlbkzko291_xhdpi')">
                        </div>
                    </a>
                    <a href="#"
                        class="col l-12 m-6 full-home-banners__right-link">
                        <div class="full-home-banners__right-img"
                            style="background-image: url('https://cf.shopee.vn/file/sg-11134258-7rat9-maxvozjtaes033_xhdpi')">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <ul class="app__banner-list">
            <li class="banner-list__item">
                <a href class="banner-list__link">
                    <div class="banner-list__img"
                        style="background-image: url('https://cf.shopee.vn/file/vn-50009109-8a387d78a7ad954ec489d3ef9abd60b4_xhdpi');">
                    </div>
                    <span class="banner-list__title">Mã Giảm Giá</span>
                </a>
            </li>
            <li class="banner-list__item">
                <a href class="banner-list__link">
                    <div class="banner-list__img"
                        style="background-image: url('https://cf.shopee.vn/file/vn-50009109-f692e9b0be05d1a11cded7f9f72b5f0b_xhdpi');">
                    </div>
                    <span class="banner-list__title">Khách Hàng Thân
                        thiết</span>
                </a>
            </li>
            <li class="banner-list__item">
                <a href class="banner-list__link">
                    <div class="banner-list__img"
                        style="background-image: url('https://cf.shopee.vn/file/vn-50009109-5bf65d4dc0eb8f6b42074751e8b736a7_xhdpi');">
                    </div>
                    <span class="banner-list__title">Hàng Chọn Giá Hời</span>
                </a>
            </li>
            <li class="banner-list__item">
                <a href class="banner-list__link">
                    <div class="banner-list__img"
                        style="background-image: url('https://cf.shopee.vn/file/vn-50009109-c02353c969d19918c53deaa4ea15bdbe_xhdpi');">
                    </div>
                    <span class="banner-list__title">Shopee Style Voucher
                        30%</span>
                </a>
            </li>
            <li class="banner-list__item">
                <a href class="banner-list__link">
                    <div class="banner-list__img"
                        style="background-image: url('https://cf.shopee.vn/file/vn-50009109-c68804e5aaad26526093bb863fc96fd3_xhdpi');">
                    </div>
                    <span class="banner-list__title">Shopee Mall</span>
                </a>
            </li>
            <li class="banner-list__item">
                <a href class="banner-list__link">
                    <div class="banner-list__img"
                        style="background-image: url('https://cf.shopee.vn/file/1d25d74d6900b85cfde8f967e613041d_xhdpi');">
                    </div>
                    <span class="banner-list__title">Săn Ngay 100.000 Xu</span>
                </a>
            </li>
        </ul>
    </div>
</div>